{% extends "base.html" %}

{% block body %}
    <div class="container">
        <div class="row short-box">
            <form action="/generate/" method="post" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="urlInput">Source URL</label>
                    <input type="text" class="form-control" id="urlInput" name="url" placeholder="Enter URL">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Shorten!</button>
                </div>
            </form>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <td>短地址</td>
                    <td>源地址</td>
                    <td>备注</td>
                    <td>点击数</td>
                    <td>统计数据</td>
                </tr>
                </thead>
                <tbody>
                {% for slug in slugs %}
                    <tr>
                        <td><a href="{{ redirect_base_url }}{{ slug.slug }}" target="_blank">
                            {{ redirect_base_url }}{{ slug.slug }}</a></td>
                        <td><a href="{{ slug.source_url }}" target="_blank">{{ slug.source_url }}</a></td>
                        <td>{{ slug.remarks }}
                            <i class="glyphicon glyphicon-edit remarks-edit" url-id="{{ slug.pk }}"></i>
                        </td>
                        <td>{{ slug.click_count }}</td>
                        <td><a href="{{ stat_base_url }}{{ slug.slug }}" target="_self">点击查看</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="remarksEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">修改备注</h4>
                </div>
                <form action="/remarks/" method="post" role="form">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="remarksInput">备注</label>
                            <input type="text" name="remarks" class="form-control" id="remarksInput" placeholder="备注">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">提交修改</button>
                    </div>
                    <input type="hidden" id="remarksId" name="pk">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        $('document').ready(function () {
            $(".remarks-edit").click(function () {
                $("#remarksEditModal").modal();
                $("#remarksId").val($(this).attr('url-id'));
            })
        })
    </script>
{% endblock %}