{% extends "base.html" %}
{% load tz %}
{% load staticfiles %}

{% block extra_headers %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/jquery.dataTables.css" %}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row text-center">
            <span class="logo">Leech</span>
        </div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">最近七天每日点击数据</div>
                <div class="panel-body">
                    <div id="dailyCountContainer" style="min-width: 310px; height: 250px; margin: 0 auto">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">统计数据</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>统计项</th>
                            <th>值</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>点击数</td>
                            <td>{{ click_count }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <button id="resetCountButton" class="btn btn-danger">重置点击数</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">最新请求列表</div>
                <div class="panel-body">
                    <table class="table" id="requestTable">
                        <thead>
                        <tr>
                            <th>User-Agent</th>
                            <th>来源IP</th>
                            <th>点击时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in click_logs %}
                            <tr>
                                <td><span class="user-agent-span" data-target="tooltip" data-placement="bottom"
                                          title="{{ log.user_agent }}">{{ log.user_agent | truncatechars:70 }}</span>
                                </td>
                                <td>{{ log.remote_address }}</td>
                                <td>{{ log.click_time|timezone:"Asia/Shanghai"|date:"Y-m-d H:i" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <a href="/">
                <button class="btn btn-primary">返回首页</button>
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">是否确定重置点击统计</h4>
                </div>
                <div class="modal-body">
                    <p class="text-danger">点击总数统计将会被重置为0！且不可以恢复，请确认。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <a href="/stat/total_click_count/reset/{{ slug.slug }}/" type="button" class="btn btn-primary">确定重置</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block scripts %}
    <script src="{% static "js/libs/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "js/highcharts/highcharts.js" %}"></script>
    <script src="{% static "js/highcharts/modules/exporting.js" %}"></script>
    <script src="{% static "js/libs/dataTables.bootstrap.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('#resetCountButton').click(function() {
                $('#myModal').modal('show');
            });

            $('.user-agent-span').tooltip();

            $('#requestTable').dataTable(
                    {
                        "bPaginate": true,
                        "bLengthChange": false,
                        "bFilter": false,
                        "bSort": false,
                        "bInfo": false,
                        "bAutoWidth": false
                    }
            );
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('#dailyCountContainer').highcharts({
                title: {
                    text: '每日链接点击统计图',
                    x: -20 //center
                },
                subtitle: {
                    text: '最近七天',
                    x: -20
                },
                xAxis: {
                    categories: {{ daily_click_counts_name|safe }}
                },
                yAxis: {
                    title: {
                        text: '次数'
                    },
                    plotLines: [
                        {
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }
                    ]
                },
                tooltip: {
                    valueSuffix: '次'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [
                    {
                        name: '链接点击',
                        data: {{ daily_click_counts_count|safe }}
                    }
                ]
            });
        });
    </script>
{% endblock %}